- classname = classname || {}
mixin permalink(id)
  != Xmeter.TEMPLATES.xPermalink.render({ id: id }).querySelector('a').outerHTML
section#grouping-elements
  block groupingElements
    h2 Grouping Elements #[+permalink('grouping-elements')]
    section#headings-paragraphs
      block headingsParagraphs
        h3 Headings &amp; Paragraphs #[+permalink('headings-paragraphs')]
        figure(class=classname.figure)
          h1 Heading 1 #[code(class=classname.code) h1]
          p.
            Paragraph #[code(class=classname.code) p]
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam sagittis suscipit nunc, a cursus libero euismod at.
            Nulla placerat neque massa, quis interdum leo efficitur vel.
            Donec feugiat varius arcu non volutpat.
            Mauris eget mauris ut mauris auctor mattis id vel justo.
            Nulla dictum arcu nec suscipit mollis.
            Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
          h2 Heading 2 #[code(class=classname.code) h2]
          p.
            Paragraph #[code(class=classname.code) p]
            Suspendisse ut auctor enim.
            Aliquam viverra enim vitae ante aliquet venenatis.
            Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
            Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
            Aenean tincidunt ante risus, semper malesuada libero consectetur id.
            Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
            Integer blandit est quam, eget mattis urna scelerisque quis.
            Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
            Maecenas risus nibh, volutpat sed euismod non, semper eget neque.
            Integer varius egestas risus, volutpat sagittis turpis convallis eget.
            Vivamus pulvinar ligula eget mi tincidunt, eget faucibus justo laoreet.
            In sapien lacus, egestas faucibus laoreet eu, tempor sit amet lorem.
            Sed luctus congue tortor a scelerisque.
          h3 Heading 3 #[code(class=classname.code) h3]
          p.
            Paragraph #[code(class=classname.code) p]
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Nunc sit amet scelerisque lectus. Cras cursus sed dui quis convallis.
            Quisque id justo elit.
            Fusce ut quam non sem efficitur accumsan sed id neque.
            Mauris finibus dignissim gravida.
            In dignissim mauris ac odio molestie volutpat.
            Nulla tellus justo, finibus sed volutpat sed, tristique ac lacus.
            Suspendisse sit amet fermentum sapien.
            Aliquam luctus laoreet iaculis.
            Proin lacinia orci vitae tellus pellentesque porttitor.
          h4 Heading 4 #[code(class=classname.code) h4]
          p.
            Paragraph #[code(class=classname.code) p]
            Aenean consectetur suscipit urna, non vehicula lacus blandit et.
            Integer at lacus et diam tristique suscipit.
            Ut cursus massa sit amet nisl convallis, elementum accumsan sapien mattis.
            Vestibulum vitae magna ac tellus accumsan pharetra vulputate vitae erat.
            Vestibulum est dui, elementum non sagittis ac, sagittis accumsan justo.
            Donec at vestibulum diam. Nam et volutpat dolor, at pulvinar nisi.
            Curabitur aliquam maximus nulla eu venenatis.
            Nam aliquam lorem non felis dignissim dictum.
            Pellentesque sagittis vehicula nisl non luctus.
            Pellentesque eget ligula hendrerit, blandit enim consequat, dictum sem.
            In quis lectus in lectus interdum laoreet eu quis quam.
            Fusce auctor posuere purus, quis semper libero dignissim euismod.
            Curabitur commodo mauris a sapien vulputate, eget pharetra urna facilisis.
          h5 Heading 5 #[code(class=classname.code) h5]
          p.
            Paragraph #[code(class=classname.code) p]
            Donec finibus ut lectus finibus pellentesque.
            Nulla euismod feugiat nulla nec posuere.
            Sed ac est id sem sagittis rhoncus eu ac neque.
            Aliquam eu metus sagittis, porta turpis id, scelerisque magna.
            Nulla venenatis elementum est, semper viverra felis tristique sit amet.
            Mauris nec ipsum id orci porttitor auctor sed sit amet sem.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Etiam tellus leo, venenatis sit amet ipsum non, sagittis feugiat ante.
          h6 Heading 6 #[code(class=classname.code) h6]
          p.
            Paragraph #[code(class=classname.code) p]
            Donec vel dolor ut felis dapibus ultricies vitae a nibh.
            Ut semper odio est, sed lacinia ligula gravida ut.
            Vestibulum facilisis viverra pulvinar.
            Suspendisse maximus nisl sit amet augue vulputate, vel porta nunc molestie.
            Aliquam mauris diam, pharetra vel consectetur quis, rhoncus in risus.
            Donec ut quam massa.
            Vestibulum sapien justo, commodo a eros in, rhoncus interdum nisl.
            Etiam a porta lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        figure(class=classname.figure)
          h1 Lorem Ipsum #[code(class=classname.code) h1]
          h2 Lorem Ipsum #[code(class=classname.code) h2]
          h3 Lorem Ipsum #[code(class=classname.code) h3]
          h4 Lorem Ipsum #[code(class=classname.code) h4]
          h5 Lorem Ipsum #[code(class=classname.code) h5]
          h6 Lorem Ipsum #[code(class=classname.code) h6]
        figure(class=classname.figure)
          address.
            12345 #[code(class=classname.code) address] Ave #[code(class=classname.code) br]#[br]
            Washington, DC 00000 #[code(class=classname.code) br]#[br]
            United States of America
        figure(class=classname.figure)
          pre.
            Pellentesque #[code(class=classname.code) pre] habitant() {
              morbi.tristique = senectus;
              et (netus = malesuada; fames &lt; ac; turpis.egestas++) {
                Nunc.sit += [amet, scelerisque][et];
                Cras = {
                  lectus: cursus
                , sed: dui
                , quis: convallis(id () { justo Quisque.elit; })
                };
              }
            }
        figure(class=classname.figure)
          figure
            | Aenean consectetur #[code(class=classname.code) figure] suscipit urna, non vehicula lacus blandit et.
            figcaption Integer at lacus et diam tristique #[code(class=classname.code) figure] #[code(class=classname.code) figcaption] suscipit.
        figure(class=classname.figure)
          blockquote Donec #[code(class=classname.code) blockquote] vel dolor ut felis dapibus ultricies vitae a nibh.
        figure(class=classname.figure)
          figcaption.
            A horizontal rule #[code(class=classname.code) hr] is present below.
          hr
    section#lists
      block lists
        h3 Lists #[+permalink('lists')]
        figure(class=classname.figure)
          figcaption Ordered List #[code(class=classname.code) ol]
          ol
            li List item #[code(class=classname.code) li]
            li List item #[code(class=classname.code) li]
              ol
                li Nested list item
                li Nested list item
                  ol
                    li Another nested list item
                    li Another nested list item
        figure(class=classname.figure)
          figcaption Unrdered List #[code(class=classname.code) ul]
          ul
            li List item #[code(class=classname.code) li]
            li List item #[code(class=classname.code) li]
              ul
                li Nested list item
                li Nested list item
                  ul
                    li Another nested list item
                    li Another nested list item
        figure(class=classname.figure)
          figcaption Dictionary List #[code(class=classname.code) dl]
          dl
            dt key #[code(class=classname.code) dt]
            dd value #[code(class=classname.code) dd]
            dt
              ul
                li 1st key
                li 2nd key
            dd value
            dt key
            dd
              ul
                li 1st value
                li 2nd value
    section#tables
      block tables
        h3 Tables #[+permalink('tables')]
        figure(class=classname.figure)
          table
            caption #[code(class=classname.code) table] #[code(class=classname.code) caption]
            thead
              mixin tableheaderrows(rows, cols)
                - for (var i = 0; i < rows; i++)
                  tr
                    - for (var j = 0; j < cols; j++)
                      th(scope="col") #[code(class=classname.code) thead]er #[code(class=classname.code) tr]ow #{i+1} #[code(class=classname.code) th]eading #{j+1}
              +tableheaderrows(1,3)
            tfoot
              mixin tablefooterrows(rows, cols)
                - for (var i = 0; i < rows; i++)
                  tr
                    - for (var j = 0; j < cols; j++)
                      td #[code(class=classname.code) tfoot]er #[code(class=classname.code) tr]ow #{i+1} #[code(class=classname.code) td]ata #{j+1}
              +tablefooterrows(2,3)
            tbody
              mixin tablebodyrows(rows, cols)
                - for (var i = 0; i < rows; i++)
                  tr
                    - for (var j = 0; j < cols; j++)
                      td #[code(class=classname.code) tbody] #[code(class=classname.code) tr]ow #{i+1} #[code(class=classname.code) td]ata #{j+1}
              +tablebodyrows(3,3)
section#text-level-elements
  block textLevelElements
    h2 Text-Level Elements #[+permalink('text-level-elements')]
    section#links
      block links
        h3 Links #[+permalink('links')]
        figure(class=classname.figure): ul
          block linksList
            li: a placeholder anchor #[code(class=classname.code)= 'a:not([href])']
            li: a(href="#0") hyperlink #[code(class=classname.code)= 'a[href]']
    section#stress
      block stress
        h3 Stress #[+permalink('stress')]
        figure(class=classname.figure): ul
          block stressList
            li: em     emphasized text #[code(class=classname.code) em]
            li: strong important text #[code(class=classname.code) strong]
            li: i      alternate voice/mood (scare quotes, mentioning words, foreign expressions) #[code(class=classname.code) i]
            li: mark   relevant in some context #[code(class=classname.code) mark]
            li: u      unarticulated annotation #[code(class=classname.code) u]
            li: small  side comment #[code(class=classname.code) small]
            li: s      text shown to be no longer relevant #[code(class=classname.code) s]
    section#documentation
      block documentation
        h3 Documentation #[+permalink('documentation')]
        figure(class=classname.figure): ul
          block documentationList
            li: ins  content shown to be inserted into a document #[code(class=classname.code) ins]
            li: del  content shown to be deleted from a document #[code(class=classname.code) del]
            li: dfn  definining instance of a term  #[code(class=classname.code) dfn]
            li: b    keyword or technical term #[code(class=classname.code) b]
            li: abbr(title="") abbreviation or acronym #[code(class=classname.code)= 'abbr[title]']
            li: var  variable  #[code(class=classname.code) var]
            li: q    quoted material #[code(class=classname.code) q]
            li: cite reference to a work, some part of a work, or the creator of a work #[code(class=classname.code) cite]
            li: sup  superscript #[code(class=classname.code) sup]
            li: sub  subscript #[code(class=classname.code) sub]
    section#data
      block data
        h3 Data #[+permalink('data')]
        figure(class=classname.figure): ul
          block dataList
            li: time(datetime="Z") a specific date or time #[code(class=classname.code) time]
            li: data(value="") generic machine-readable data #[code(class=classname.code) data]
            li: code     a fragment of code #[code(class=classname.code) code]
            li: kbd      user input #[code(class=classname.code) kbd]
            li: kbd: kbd a button or key on a physical device #[code(class=classname.code) kbd &gt; kbd]
            li: samp     sample computer output #[code(class=classname.code) samp]
section#forms
  block forms
    h2 Forms #[+permalink('forms')]
    form(class=classname.form)
      figure(class=classname.figure)
        fieldset
          legend Integer at lacus et diam tristique #[code(class=classname.code) fieldset legend] suscipit.
          | Aenean consectetur #[code(class=classname.code) fieldset] suscipit urna, non vehicula lacus blandit et.
      figure(class=classname.figure)
        fieldset
          legend single line text inputs
          input(type="text" placeholder="input type text")
          input(type="email" placeholder="input type email")
          input(type="password" placeholder="input type password")
          input(type="search" placeholder="input type search")
          input(type="tel" placeholder="input type tel")
          input(type="url" placeholder="input type url")
      figure(class=classname.figure)
        fieldset
          legend date/time
          input(type="datetime")
          input(type="datetime-local")
          input(type="date")
          input(type="time")
          input(type="week")
          input(type="month")
      figure(class=classname.figure)
        fieldset
          legend without text input
          input(type="color")
          input(type="file")
          input(type="hidden")
          input(type="number" placeholder="input type number")
          input(type="range")
      figure(class=classname.figure)
        fieldset
          legend check boxes
          input(type="checkbox")
          label select
          label
            input(type="checkbox")
            | all
          input#checkboxid(type="checkbox")
          label(for="checkboxid") applicable
      figure(class=classname.figure)
        fieldset
          legend radio buttons
          input(type="radio" name="radiogroup1")
          label select
          label
            input(type="radio" name="radiogroup1")
            | only
          input#radioid(type="radio" name="radiogroup1")
          label(for="radioid") one
      figure(class=classname.figure)
        fieldset
          legend drop-down list (select only one)
          select
            option option 1
            optgroup(label="label for option 2")
              option option 2a
              option option 2b
              option option 2c
            option option 3
          input(list="b" placeholder="select it or type it")
          datalist#b
            // optgroup not a valid child of datalist
            option option 1
            option option 2
            option option 3
      figure(class=classname.figure)
        fieldset
          legend drop-down list (select multiple)
          select(multiple="")
            option option 1
            optgroup(label="label for option 2")
              option option 2a
              option option 2b
              option option 2c
            option option 3
      figure(class=classname.figure)
        fieldset
          legend buttons
          input(type="button" value="button")
          input(type="reset")
          input(type="submit")
          button(type="button") button
          button(type="reset")  reset
          button(type="submit") submit
      figure(class=classname.figure)
        fieldset
          legend textarea
          textarea
section#embedded-elements
  block embeddedElements
    h2 Embedded Elements #[+permalink('embedded-elements')]
section#interactive-elements
  block interactiveElements
    h2 Interactive Elements #[+permalink('interactive-elements')]
    figure(class=classname.figure)
      details
        summary Integer at lacus et diam tristique #[code(class=classname.code) details summary] suscipit.
        | Aenean consectetur #[code(class=classname.code) details] suscipit urna, non vehicula lacus blandit et.
