header
  h1!= project_names.concat(page_name).reduce(function (a, b) { return a + ' &mdash; ' + b }, '')
  nav#table-contents
    h2 Table of Contents
    ol
      li: a(href="#table-contents") Table of Contents
      li: a(href="#headings-paragraphs") Headings &amp; Paragraphs
      li: a(href="#lists") Lists
      li: a(href="#tables") Tables
      li
        a(href="#text-level-elements") Text-Level Elements
        ol
          li: a(href="#links") Links
          li: a(href="#stress") Stress
          li: a(href="#documentation") Documentation
          li: a(href="#data") Data
      li: a(href="#embedded-elements") Embedded Elements
      li: a(href="#forms") Forms
      li: a(href="#interactive-elements") Interactive Elements
section#headings-paragraphs
  h2 Headings &amp; Paragraphs
  block headings-paragraphs
    figure(class=classnames.figure)
      h1 Heading 1 #[code(class=classnames.code) h1]
      p.
        Paragraph #[code(class=classnames.code) p]
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam sagittis suscipit nunc, a cursus libero euismod at.
        Nulla placerat neque massa, quis interdum leo efficitur vel.
        Donec feugiat varius arcu non volutpat.
        Mauris eget mauris ut mauris auctor mattis id vel justo.
        Nulla dictum arcu nec suscipit mollis.
        Maecenas a iaculis nisl, ut pretium est. Nulla facilisi.
      h2 Heading 2 #[code(class=classnames.code) h2]
      p.
        Paragraph #[code(class=classnames.code) p]
        Suspendisse ut auctor enim.
        Aliquam viverra enim vitae ante aliquet venenatis.
        Sed vel nibh sit amet sapien fermentum mattis nec non arcu.
        Praesent dapibus velit quis lectus tempus, ut ullamcorper nibh facilisis.
        Aenean tincidunt ante risus, semper malesuada libero consectetur id.
        Praesent vel ligula ut enim porttitor porta. Aenean eu ullamcorper mi.
        Integer blandit est quam, eget mattis urna scelerisque quis.
        Maecenas sapien sapien, ornare nec lobortis eget, tincidunt sed ligula.
        Maecenas risus nibh, volutpat sed euismod non, semper eget neque.
        Integer varius egestas risus, volutpat sagittis turpis convallis eget.
        Vivamus pulvinar ligula eget mi tincidunt, eget faucibus justo laoreet.
        In sapien lacus, egestas faucibus laoreet eu, tempor sit amet lorem.
        Sed luctus congue tortor a scelerisque.
      h3 Heading 3 #[code(class=classnames.code) h3]
      p.
        Paragraph #[code(class=classnames.code) p]
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Nunc sit amet scelerisque lectus. Cras cursus sed dui quis convallis.
        Quisque id justo elit.
        Fusce ut quam non sem efficitur accumsan sed id neque.
        Mauris finibus dignissim gravida.
        In dignissim mauris ac odio molestie volutpat.
        Nulla tellus justo, finibus sed volutpat sed, tristique ac lacus.
        Suspendisse sit amet fermentum sapien.
        Aliquam luctus laoreet iaculis.
        Proin lacinia orci vitae tellus pellentesque porttitor.
      h4 Heading 4 #[code(class=classnames.code) h4]
      p.
        Paragraph #[code(class=classnames.code) p]
        Aenean consectetur suscipit urna, non vehicula lacus blandit et.
        Integer at lacus et diam tristique suscipit.
        Ut cursus massa sit amet nisl convallis, elementum accumsan sapien mattis.
        Vestibulum vitae magna ac tellus accumsan pharetra vulputate vitae erat.
        Vestibulum est dui, elementum non sagittis ac, sagittis accumsan justo.
        Donec at vestibulum diam. Nam et volutpat dolor, at pulvinar nisi.
        Curabitur aliquam maximus nulla eu venenatis.
        Nam aliquam lorem non felis dignissim dictum.
        Pellentesque sagittis vehicula nisl non luctus.
        Pellentesque eget ligula hendrerit, blandit enim consequat, dictum sem.
        In quis lectus in lectus interdum laoreet eu quis quam.
        Fusce auctor posuere purus, quis semper libero dignissim euismod.
        Curabitur commodo mauris a sapien vulputate, eget pharetra urna facilisis.
      h5 Heading 5 #[code(class=classnames.code) h5]
      p.
        Paragraph #[code(class=classnames.code) p]
        Donec finibus ut lectus finibus pellentesque.
        Nulla euismod feugiat nulla nec posuere.
        Sed ac est id sem sagittis rhoncus eu ac neque.
        Aliquam eu metus sagittis, porta turpis id, scelerisque magna.
        Nulla venenatis elementum est, semper viverra felis tristique sit amet.
        Mauris nec ipsum id orci porttitor auctor sed sit amet sem.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Etiam tellus leo, venenatis sit amet ipsum non, sagittis feugiat ante.
      h6 Heading 6 #[code(class=classnames.code) h6]
      p.
        Paragraph #[code(class=classnames.code) p]
        Donec vel dolor ut felis dapibus ultricies vitae a nibh.
        Ut semper odio est, sed lacinia ligula gravida ut.
        Vestibulum facilisis viverra pulvinar.
        Suspendisse maximus nisl sit amet augue vulputate, vel porta nunc molestie.
        Aliquam mauris diam, pharetra vel consectetur quis, rhoncus in risus.
        Donec ut quam massa.
        Vestibulum sapien justo, commodo a eros in, rhoncus interdum nisl.
        Etiam a porta lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    figure(class=classnames.figure)
      h1 Lorem Ipsum #[code(class=classnames.code) h1]
      h2 Lorem Ipsum #[code(class=classnames.code) h2]
      h3 Lorem Ipsum #[code(class=classnames.code) h3]
      h4 Lorem Ipsum #[code(class=classnames.code) h4]
      h5 Lorem Ipsum #[code(class=classnames.code) h5]
      h6 Lorem Ipsum #[code(class=classnames.code) h6]
    figure(class=classnames.figure)
      address.
        12345 #[code(class=classnames.code) address] Ave #[code(class=classnames.code) br]#[br]
        Washington, DC 00000 #[code(class=classnames.code) br]#[br]
        United States of America
    figure(class=classnames.figure)
      figure Aenean consectetur #[code(class=classnames.code) figure] suscipit urna, non vehicula lacus blandit et.
        figcaption Integer at lacus et diam tristique #[code(class=classnames.code) figure] #[code(class=classnames.code) figcaption] suscipit.
    figure(class=classnames.figure)
      blockquote Donec #[code(class=classnames.code) blockquote] vel dolor ut felis dapibus ultricies vitae a nibh.
    figure(class=classnames.figure)
      pre.
        Pellentesque #[code(class=classnames.code) pre] habitant() {
          morbi.tristique = senectus;
          et (netus = malesuada; fames &lt; ac; turpis.egestas++) {
            Nunc.sit += [amet, scelerisque][et];
            Cras = {
              lectus: cursus
            , sed: dui
            , quis: convallis(id () { justo Quisque.elit; })
            };
          }
        }
    // figure(class=classnames.figure)
      figcaption.
        A horizontal rule #[code(class=classnames.code) hr] is shown below. I&rsquo;m honestly not sure when
        you would ever use this instead of a CSS border.
      hr
section#lists
  h2 Lists
  block lists
    figure(class=classnames.figure)
      figcaption Ordered List #[code(class=classnames.code) ol]
      ol
        li List item #[code(class=classnames.code) li]
        li List item #[code(class=classnames.code) li]
          ol
            li Nested list item
            li Nested list item
              ol
                li Another nested list item
                li Another nested list item
    figure(class=classnames.figure)
      figcaption Unrdered List #[code(class=classnames.code) ul]
      ul
        li List item #[code(class=classnames.code) li]
        li List item #[code(class=classnames.code) li]
          ul
            li Nested list item
            li Nested list item
              ul
                li Another nested list item
                li Another nested list item
    figure(class=classnames.figure)
      figcaption Dictionary List #[code(class=classnames.code) dl]
      dl
        dt key #[code(class=classnames.code) dt]
        dd value #[code(class=classnames.code) dd]
        dt
          ul
            li 1st key
            li 2nd key
        dd value
        dt key
        dd
          ul
            li 1st value
            li 2nd value
section#tables
  h2 Tables
  block tables
    figure(class=classnames.figure)
      table
        caption #[code(class=classnames.code) table] #[code(class=classnames.code) caption]
        thead
          mixin tableheaderrows(rows, cols)
            - for (var i = 0; i < rows; i++)
              tr
                - for (var j = 0; j < cols; j++)
                  th(scope="col") #[code(class=classnames.code) thead]er #[code(class=classnames.code) tr]ow #{i+1} #[code(class=classnames.code) th]eading #{j+1}
          +tableheaderrows(1,3)
        tfoot
          mixin tablefooterrows(rows, cols)
            - for (var i = 0; i < rows; i++)
              tr
                - for (var j = 0; j < cols; j++)
                  td #[code(class=classnames.code) tfoot]er #[code(class=classnames.code) tr]ow #{i+1} #[code(class=classnames.code) td]ata #{j+1}
          +tablefooterrows(2,3)
        tbody
          mixin tablebodyrows(rows, cols)
            - for (var i = 0; i < rows; i++)
              tr
                - for (var j = 0; j < cols; j++)
                  td #[code(class=classnames.code) tbody] #[code(class=classnames.code) tr]ow #{i+1} #[code(class=classnames.code) td]ata #{j+1}
          +tablebodyrows(3,3)
section#text-level-elements
  h2 Text-Level Elements
  block text-level-elements
    section#links
      h3 Links
      block links
        figure(class=classnames.figure): ul
          block links__list
            li: a a
            li: a(href) a[href]
    section#stress
      h3 Stress
      block stress
        figure(class=classnames.figure): ul
          block stress__list
            li: em     emphasized text #[code(class=classnames.code) em]
            li: strong important text #[code(class=classnames.code) strong]
            li: i      alternate voice/mood (scare quotes, mentioning words, foreign expressions) #[code(class=classnames.code) i]
            li: mark   relevant in some context #[code(class=classnames.code) mark]
            li: u      unarticulated annotation #[code(class=classnames.code) u]
            li: small  side comment #[code(class=classnames.code) small]
            li: s      text shown to be no longer relevant #[code(class=classnames.code) s]
    section#documentation
      h3 Documentation
      block documentation
        figure(class=classnames.figure): ul
          block documentation__list
            li: ins  content shown to be inserted into a document #[code(class=classnames.code) ins]
            li: del  content shown to be deleted from a document #[code(class=classnames.code) del]
            li: dfn  definining instance of a term  #[code(class=classnames.code) dfn]
            li: b    keyword or technical term #[code(class=classnames.code) b]
            li: var  variable  #[code(class=classnames.code) var]
            li: q    quoted material #[code(class=classnames.code) q]
            li: cite reference to a work, some part of a work, or the creator of a work #[code(class=classnames.code) cite]
            li: sup  superscript #[code(class=classnames.code) sup]
            li: sub  subscript #[code(class=classnames.code) sub]
    section#data
      h3 Data
      block data
        figure(class=classnames.figure): ul
          block data__list
            li: abbr(title)        abbreviation or acronym #[code(class=classnames.code) abbr[title]]
            li: time(datetime="Z") a specific date or time #[code(class=classnames.code) time]
            li: data(value)        generic machine-readable data #[code(class=classnames.code) data]
            li: code               a fragment of code #[code(class=classnames.code) code]
            li: kbd                user input #[code(class=classnames.code) kbd]
            li: kbd: kbd           a button or key on a physical device #[code(class=classnames.code) kbd &gt; kbd]
            li: samp               sample computer output #[code(class=classnames.code) samp]
section#embedded-elements
  h2 Embedded Elements
  block embedded-elements
section#forms
  h2 Forms
  block forms
    form(style="background-color: #fff;")
      figure(class=classnames.figure)
        fieldset
          legend single line text inputs
          input(type="text" placeholder="input type text")
          input(type="email" placeholder="input type email")
          input(type="password" placeholder="input type password")
          input(type="search" placeholder="input type search")
          input(type="tel" placeholder="input type tel")
          input(type="url" placeholder="input type url")
      figure(class=classnames.figure)
        fieldset
          legend date/time
          input(type="datetime")
          input(type="datetime-local")
          input(type="date")
          input(type="time")
          input(type="week")
          input(type="month")
      figure(class=classnames.figure)
        fieldset
          legend without text input
          input(type="color")
          input(type="file")
          input(type="hidden")
          input(type="number" placeholder="input type number")
          input(type="range")
      figure(class=classnames.figure)
        fieldset
          legend check boxes
          input(type="checkbox")
          label select
          label
            input(type="checkbox")
            | all
          input(type="checkbox")
          label applicable
      figure(class=classnames.figure)
        fieldset
          legend radio buttons
          input(type="radio" name="radiogroup1")
          label select
          label
            input(type="radio" name="radiogroup1")
            | only
          input(type="radio" name="radiogroup1")
          label one
      figure(class=classnames.figure)
        fieldset
          legend drop-down list (select only one)
          select
            option option 1
            optgroup(label="label for option 2")
              option option 2a
              option option 2b
              option option 2c
            option option 3
          input(list="b" placeholder="select it or type it")
          datalist#b
            option option 1
            //- optgroup not a valid child of datalist
            option option 2
            option option 3
      figure(class=classnames.figure)
        fieldset
          legend drop-down list (select multiple)
          select(multiple="")
            option option 1
            optgroup(label="label for option 2")
              option option 2a
              option option 2b
              option option 2c
            option option 3
      figure(class=classnames.figure)
        fieldset
          legend buttons
          input(type="button" value="button")
          input(type="reset")
          input(type="submit")
          button(type="button") button
          button(type="reset")  reset
          button(type="submit") submit
      figure(class=classnames.figure)
        fieldset
          legend textarea
          textarea
section#interactive-elements
  h2 Interactive Elements
  block interactive-elements
