//- include ../_classes/Page.class.jade
//- include ../_classes/Styleguide.class.jade
//- include ../_classes/Xmeter.class.jade

mixin doctoc(args)
  //- NOTE parameter validation
  -
    var pages   = args.pages   || []
      , classes = args.classes || {}
      , depth   = +args.depth  || 0
  ol(class=classes.listclasses)
    each item in pages
      unless item.isHidden()
        li(class=classes.itemclasses)
          a(class=classes.linkclasses href=item.getURL())= item.getName()
          if item.getDescription()
            = ': ' + item.getDescription()
          if item.findAll().length && depth > 0
            +doctoc({pages: item.findAll(), classes: (classes.sub || {}), depth: depth-1})

mixin newSection(hn, page)
  -
    var text = page.getName()
      , id = page.getURL().split('#')[1]
  section(id=id)
    if hn === 1
      h1 #{text} #[a.docs-_fragid(href='#' + id)]
    else if hn === 2
      h2 #{text} #[a.docs-_fragid(href='#' + id)]
    else if hn === 3
      h3 #{text} #[a.docs-_fragid(href='#' + id)]
    else
      p #{text}
    block
