mixin docs_inline(classname)
  - classname = classname || {}
  p.
    Creates an inline look,
    with zero line-height to maintain vertical rhythm.
  p.
    This class is useful for creating inline lists, that is,
    lists whose items are each displayed in line, one right after another.
  figure.docs-figure
    ul
      li.h-Inline spacetime#{' '}
      li.h-Inline black hole#{' '}
      li.h-Inline singularity#{' '}
      li.h-Inline gravity#{' '}
      li.h-Inline supernova#{' '}
      li.h-Inline neutron star#{' '}
    pre.docs-pre.
      &lt;ul&gt;
        &lt;li class="#[u h-Inline]"&gt;spacetime &lt;/li&gt;
        &lt;li class="#[u h-Inline]"&gt;black hole &lt;/li&gt;
        ...
      &lt;/ul&gt;
