doctype html
html(lang="en")#top
  mixin doctoc(args, inner)
    //- NOTE parameter validation
    -
      var pages   = args.pages   || []
      var classes = args.classes || {}
      var depth   = +args.depth  || 0
    ol(class=classes.listclasses)&attributes(inner ? {} : { role: 'directory' })
      each item in pages
        li(class=classes.itemclasses)
          a(class=classes.linkclasses href=item.url())&attributes((page.url()===item.url()) ? {'aria-current':'page'} : {})= item.name()
          if item.description()
            = ': ' + item.description()
          if item.findAll().length && depth > 0
            +doctoc({pages: item.findAll(), classes: (classes.sub || {}), depth: depth-1}, true)
  block vars
  head
    title= page.title() || `${page.name()} | ${Docs.DOCS.name()}`
    meta(charset="utf-8")
    meta(name="description" content=Docs.DOCS.description())
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.15.0/bangs.css")
      link(rel="stylesheet" href="../css/xmeter.css")
      link(rel="stylesheet" href="css/docs.css")
    block scripts
  body.h-Ruled.docs-body
    a.h-Hidden(href="#main") skip to main content
    header
      h1= Docs.DOCS.name()
      p= Docs.DOCS.description()
      nav#sitemap
        h1.h-Hidden Sitemap
        +doctoc({pages: Docs.DOCS.findAll()})
    main.docs-main#main
      block main
        header
          h1= page.name()
          p= page.description()
          block toc
            nav#contents
              h2 Contents
              +doctoc({pages: page.findAll(), depth: Infinity})
    a(href="#top") jump to top
