doctype html
html(lang="en")
  include includes/_data.jade
  block vars
  head
    title= page.getTitle() || (page.name + ' | ' + Xmeter.DOCS.name)
    meta(charset="utf-8")
    meta(name="description" content=Xmeter.DOCS.getDescription())
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="../xmeter.css")
    link(rel="stylesheet" href="styles/docs.css")
  body.docs-body
    main.docs-main
      block main
        header
          //- h1= page.getTitle() || (Xmeter.DOCS.getName() + ' — ' + page.getName())
          if page.getTitle()
            h1= page.getTitle()
          else
            h1 #[a(href=Xmeter.DOCS.getURL())= Xmeter.DOCS.getName()] &mdash; #{page.getName()}
          block mainIntro
            p= page.getDescription()
          nav#table-contents
            h2 Table of Contents
            block toc
              +doctoc({pages: page.getPagesAll(), depth: Infinity})
    block footer
      footer: nav
        h1 Sitemap
        +doctoc({pages: Xmeter.DOCS.getPagesAll()})
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
      script.
        function toURL(string) {
          return encodeURIComponent(string.toLowerCase().replace(/[\W]+/g, '-'))
        }
        $('h1, h2, h3, h4, h5, h6').each(function () {
          if (!$(this).parents('figure').length) {
            var id = '_' + toURL($(this).text())
            $(this).append($('<a>').addClass('docs-_fragid').attr('id', id).attr('href', '#' + id))
          }
        })
