doctype html
html(lang="en")
  mixin doctoc(args)
    //- NOTE parameter validation
    -
      var pages   = args.pages   || []
      var classes = args.classes || {}
      var depth   = +args.depth  || 0
    ol(class=classes.listclasses)
      each item in pages
        unless item.isHidden()
          li(class=classes.itemclasses)
            a(class=classes.linkclasses href=item.url())= item.name()
            if item.description()
              = ': ' + item.description()
            if item.findAll().length && depth > 0
              +doctoc({pages: item.findAll(), classes: (classes.sub || {}), depth: depth-1})
  mixin newSection(n, page)
    - var id = page.url().split('#')[1]
    section(id=id)
      | <h#{n}>#{page.name()} <a class="docs-_fragid" href="##{id}" aria-label="permalink"></a></h#{n}>
      block
  block vars
  head
    title= page.title() || (page.name() + ' | ' + Xmeter.DOCS.name())
    meta(charset="utf-8")
    meta(name="description" content=Xmeter.DOCS.description())
    meta(name="viewport" content="width=device-width, initial-scale=1")
    block styles
      link(rel="stylesheet" href="https://cdn.rawgit.com/chharvey/bangs/v0.9.0/bangs.min.css")
      link(rel="stylesheet" href="../xmeter.css")
      link(rel="stylesheet" href="styles/docs.css")
  body.docs-body
    a.h-Hidden(href="#main") skip to main content
    header
      h1= Xmeter.DOCS.name()
      p= Xmeter.DOCS.description()
      nav#sitemap
        h1.-d-n Sitemap
        +doctoc({pages: Xmeter.DOCS.findAll()})
    main.docs-main#main
      block main
        header
          h1= page.name()
          p= page.description()
          block toc
            nav#table-contents
              h2 Table of Contents
              +doctoc({pages: page.findAll(), depth: Infinity})
