doctype html
html(lang="en")
  include includes/_data.jade
  block vars
    -
      var xm = (new Xmeter()).init()
      var page = xm
  head
    title= page.title || (page.name + ' | ' + xm.name)
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content="A demo of Xmeter styles.")
    link(rel="stylesheet" href="../xmeter.css")
    link(rel="stylesheet" href="styles/docs.css")
  body.docs-body
    main.docs-main
      block main
        header
          //- h1= page.title || (xm.name + ' — ' + page.name)
          if page.title
            h1= page.title
          else
            h1 #[a(href=xm.getURL())= xm.name] &mdash; #{page.name}
          block mainIntro
            p= page.getDescription()
          nav#table-contents
            h2 Table of Contents
            block toc
              +doctoc({page: page, depth: Infinity})
    block footer
      footer: nav
        h1 Sitemap
        +doctoc({page: xm})
    block scripts
      script(src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous")
      script.
        function toURL(string) {
          return encodeURIComponent(string.toLowerCase().replace(/[\W]+/g, '-'))
        }
        $('h1, h2, h3, h4, h5, h6').each(function () {
          if (!$(this).parents('figure').length) {
            var id = '_' + toURL($(this).text())
            $(this).append($('<a>').addClass('docs-_fragid').attr('id', id).attr('href', '#' + id))
          }
        })
