extends doc.tpl.jade

block append vars
  - var page = getPage('help.html')
  - var page_title = page.name

block main
  h1= project_name + ' — ' + page_title
  nav#table-contents
    h2 Table of Contents
    +libtoc({pages: page.sub, depth: Infinity})
  section#block
    h2 Block
    p.
      The Block Helper creates a blocky look,
      with an inherited line-height to maintain vertical rhythm.
    figure.x-figure
      p.
        Use this class to display an element as a
        #[span.h-Block block element,]
        with an inherited line-height to maintain vertical rhythm.
      pre.x-pre.
        ... to display an element as a &lt;span class="#[u h-Block]"&gt;block element,&lt;/span&gt; with ...
  section#inline
    h2 Inline
    p.
      Creates an inline look,
      with zero line-height to maintain vertical rhythm.
    p.
      This class is useful for creating inline lists, that is,
      lists whose items are each displayed one right after another, inline.
    figure.x-figure
      ul
        li.h-Inline spacetime#{' '}
        li.h-Inline black hole#{' '}
        li.h-Inline singularity#{' '}
        li.h-Inline gravity#{' '}
        li.h-Inline supernova#{' '}
        li.h-Inline neutron star#{' '}
      pre.x-pre.
        &lt;ul&gt;
          &lt;li class="#[u h-Inline]"&gt;spacetime &lt;/li&gt;
          &lt;li class="#[u h-Inline]"&gt;black hole &lt;/li&gt;
          ...
        &lt;/ul&gt;
  section#clearfix
    h2 Clearfix
    p.
      The Clearfix Helper creates a line break after an element.
      This could be a container of floats, or it could simply be an inline list item.
      Use this as an alternative to the #[code.x-code br] element.
    figure.x-figure
      div.h-Clearfix
        div(style="font-weight: 700; float:  left;") gravity
        div(style="font-weight: 700; float: right;") supernova
      div spacetime black hole singularity
      pre.x-pre.
        &lt;div class="#[u h-Clearfix]"&gt;
          &lt;div style="float:  left;"&gt;gravity&lt;/div&gt;
          &lt;div style="float: right;"&gt;supernova&lt;/div&gt;
        &lt;/div&gt;
        &lt;div&gt;spacetime black hole singularity&lt;/div&gt;
      figcaption The Clearfix Helper is used in the classical sense.
    figure.x-figure
      ul.o-ListBare
        span.o-Inline spacetime#{' '}
        span.o-Inline.h-Clearfix black hole#{' '}
        span.o-Inline singularity#{' '}
        span.o-Inline neutron star#{' '}
      pre.x-pre.
        &lt;ul class="o-ListBare"&gt;
          &lt;li class="o-Inline"&gt;spacetime &lt;/li&gt;
          &lt;li class="o-Inline  #[u h-Clearfix]"&gt;black hole &lt;/li&gt;
          &lt;li class="o-Inline"&gt;singularity &lt;/li&gt;
          &lt;li class="o-Inline"&gt;neutron star &lt;/li&gt;
        &lt;/ul&gt;
      figcaption.
        The Clearfix Helper creates a line break after the 2nd inline item.
